body {
    background-color: #fafafa;
}
h1, h3, input {
    text-align: center;
}

.start {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameButton {
    padding: 30px;
    margin: 30px;
    border-radius: 10px;
    width: 300px;
}

.numberOfRounds {
    padding: 5px;
    border-radius: 5px;
}

#entry {
    width: 40px;
    font-size: 12px;
}

#submit {
    width: 67px;
    background: #c2bfbf;
    border-radius: 5px;
    margin: 10px;
}

.gameplay {
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 10px;
    padding: 10px;
}
.results {
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    margin: 10px;
    padding: 10px;
}
#plays{
    width: 250px;
    list-style: square;
}
#log{
    width: 250px;
    list-style: square;
}
#score{
    width: 250px;
}
.restart{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
h3{
    margin-left: 40px;
}
li {
    line-height: 1.2em;
}
.tally {
    width: 250px;
    display: flex;
    flex-direction: column;
    text-align: right;;
    margin: 0px 0px 0px 20px;
}
.players{
    margin: 2px 5px 0px 0px;
}
